---
permalink: redirector.html
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    {% include locale_detection.html url='' %}
  </head>
  <body style="background-color: {{ site.background }}; color: {{ site.primary }}; width: 100%; height: 100vh; display: flex; align-items: center; justify-content: center; flex-direction: column; margin: 0; padding: 0">
    <h1>{{ site.title }}</h1>
    <ul style="padding: 0; list-style: none; text-align: center;">
      <!-- Let visitors decide which locale they like to access -->
      {% for locale in site.locales %}
        <li><a href="{{ locale }}/" hreflang="{{ locale }}">{{ site.data[locale].locale_name }}</a></li>
      {% endfor %}
    </ul>
  </body>
</html>
