<div class="col px-3">
  <div class="h-100 shadow px-3 py-5">
    <div
      class="w-41px h-41px font-weight-bold rounded-circle background-primary white d-flex align-items-center justify-content-center mb-3">
      {{ include.position }}
    </div>

    <h3>{{ include.headline }}</h3>

    <div class="content">
      {{ include.content | markdownify }}
    </div>

    {% if include.call_to_action %}
      <div class="mt-3">
        <a
          href="{{ include.call_to_action_url }}"
          class="primary font-weight-bold text-decoration-underline"
          target="_blank"
          rel="noopener noreferrer">
          {{ include.call_to_action }}
        </a>
      </div>
    {% endif %}
  </div>
</div>
