<video
  loading="lazy"
  poster="{{ include.image | thumbnail: nil, 720 }}"
  controls
  class="d-none d-md-block"
  src="{{ include.video | remove: '_1080p' | replace: '.mp4', '_720p.mp4' }}">
  {% if include.subtitles %}
    <track default kind="subtitles" label="{{ include.label }}" srclang="{{ site.lang }}" src="{{ include.subtitles }}" />
  {% endif %}
</video>

<video
  loading="lazy"
  poster="{{ include.image | thumbnail: nil, 360 }}"
  controls
  class="d-md-none"
  src="{{ include.video | remove: '_1080p' | replace: '.mp4', '_360p.mp4' }}">
  {% if include.subtitles %}
    <track default kind="subtitles" label="{{ include.label }}" srclang="{{ site.lang }}" src="{{ include.subtitles }}" />
  {% endif %}
</video>
