---
layout: default_with_menu
---

{%- assign t = site.data[site.lang] -%}

<section id="" class="h-30vh background-background">
  <header class="container h-100">
    <div class="h-100 d-flex align-items-center">
      <h1>{{ page.title }}</h1>
    </div>
  </header>
</section>
{% include_relative assets/images/community_resources.svg %}

<section id="" class="container">
  {% for resource in (1..t.community_resources_list) %}
    {% assign resource_key = 'community_resources_list_' | append: resource %}
    {% assign tagline_key = resource_key | append: '_tagline' %}
    {% assign tagline = t[tagline_key] %}
    {% assign headline_key = resource_key | append: '_headline' %}
    {% assign headline = t[headline_key] %}
    {% assign content_key = resource_key | append: '_content' %}
    {% assign content = t[content_key] %}
    {% assign image_key = resource_key | append: '_image' %}
    {% assign image = t[image_key] %}
    {% assign call_to_action_key = resource_key | append: '_call_to_action' %}
    {% assign call_to_action = t[call_to_action_key] %}

    <article id="{{ headline | slugify }}" class="row row-cols-1 row-cols-md-2 mt-5">
      <div class="col">
        <div class="background-gray-light rounded">
          <div class="embed-responsive embed-responsive-25by18">
            {% if image and image != '' %}
              {%- include img.html src=image class='embed-responsive-item' width=500 height=357 -%}
            {% else %}
              <div class="embed-responsive-item"></div>
            {% endif %}
          </div>
        </div>
      </div>

      <header class="col pl-md-5 pt-5 pt-md-0">
        <p class="poppins-semi-bold secondary text-uppercase font-weight-bold">{{ tagline }}</p>
        <h2>{{ headline }}</h2>

        {{ content | markdownify }}

        <div class="row row-cols-1 {% if call_to_action > 1 %}row-cols-xl-2 {% endif %}align-items-center justify-content-start">
          {% for action in (1..call_to_action) %}
            {% assign action_key = call_to_action_key | append: '_' | append: action %}
            {% assign action_content_key = action_key | append: '_content' %}
            {% assign action_content = t[action_content_key] %}
            {% assign action_url_key = action_key | append: '_url' %}
            {% assign action_url = t[action_url_key] %}
            {% assign action_help_key = action_key | append: '_help' %}
            {% assign action_help = t[action_help_key] %}

            <div class="col {% unless forloop.last %}mb-2 mb-xl-0{% endunless %}">
              {% if call_to_action > 1 %}
                <a
                  href="{{ action_url }}"
                  class="btn btn-block rounded-pill px-4 {% if forloop.first %}btn-secondary{% else %}border-secondary secondary{% endif %}"
                  rel="noopener noreferrer"
                  target="_blank">
                  <small class="poppins-semi-bold">
                    {{- action_content -}}
                  </small>

                  {%- if action_help -%}
                    <br/>
                    <small>{{- action_help -}}</small>
                  {%- endif -%}
                </a>
              {% else %}
                {% include big_button.html url=action_url text=action_content %}
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </header>
    </article>
  {% endfor %}
</section>

<section id="">
  <div class="w-md-75 mx-auto background-gray-light rounded position-relative text-center p-3 my-5">
    {{ t.community_resources_license_content | markdownify }}

    {%- include img.html src=t.community_resources_license_image width=88 -%}

    <a href="{{ t.community_resources_license_url }}" rel="noopener noreferrer" target="_blank" class="stretched-link">
      <span class="sr-only">{{ t.community_resources_license_content }}</span>
    </a>
  </div>
</section>

<section id="" class="min-h-50vh d-flex align-items-center justify-content-center">
  <div class="shadow p-5 text-center content">
    <h2>{{ t.community_resources_call_to_action_headline }}</h2>

    {{ t.community_resources_call_to_action_content | markdownify }}

    {% include big_button.html url=t.community_resources_call_to_action_url  text=t.community_resources_call_to_action %}
  </div>
</section>
