<!DOCTYPE html>
<html lang="{{ site.lang }}" dir="{{ site.dir }}">
  <head>
    <meta charset="UTF-8">
    <base href="{% base %}" />
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="theme-color" content="white"/>
    <meta name="color-scheme" content="light"/>
    <meta name="referrer" content="strict-origin-when-cross-origin"/>

    {% comment %}
      Cache busting strategy: Change the query string when the site is
      published.
    {% endcomment %}
    <link href="assets/css/styles.css?{{ site.time | date: '%s' }}" rel="stylesheet">

    {% comment %}
      Because we're using relative URLs, we need to add a / to the site
      URL, we capture and replace the SEO tag because it expects the URL
      to not have a trailing /

      TODO: Send a patch to jekyll-seo-tag
    {% endcomment %}
    {% capture seo %}
      {% seo %}
    {% endcapture %}

    {{ seo | replace: '//', '/' | replace: 'https:/', 'https://' | replace: 'http:/', 'http://' }}

    {% comment %}
      Generate the alternate permalink for each page and locale.  Since
      this site is just two static pages with content from Weblate, we
      can add metadata into them statically.
    {% endcomment %}
    {% for locale in site.locales %}
      {%- if locale == site.default_locale %}
        <link
          rel="alternate"
          hreflang="x-default"
          href="{{ '../' | append: locale | append: '/' | append: page.url | replace_first: '//', '/' }}"
          />
      {% endif %}

      <link
        rel="alternate"
        hreflang="{{ locale }}"
        href="{{ '../' | append: locale | append: '/' | append: page.locales[locale].permalink | replace_first: '//', '/' }}"
        />
    {% endfor %}

    {%- assign logo = 'assets/images/favicon.png' -%}
    {%- for favicon in site.images.favicons -%}
      {%- if favicon == 32 -%}
        <link rel="icon" href="{{ logo | thumbnail: favicon, favicon }}" />
      {%- else %}
        <link rel="apple-touch-icon-precomposed" sizes="{{ favicon }}x{{ favicon }}" href="{{ logo | thumbnail: favicon, favicon }}" />
      {%- endif %}
    {%- endfor -%}
  </head>
  <body>
    {{ content }}

    <script type="text/javascript">
      function pauseVideos (target = undefined) {
        document.querySelectorAll('video').forEach(function(video) {
          video.pause();

          if (!target) return;

          target.classList.add('focused');
          document.querySelectorAll('[data-action="pauseVideos"]').forEach(function(a) {
            if (a !== target) a.classList.remove('focused');
          });
        });
      }

      document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('[data-action="pauseVideos"]').forEach(function(a) {
          a.addEventListener('click', function(e) { pauseVideos(a) });
          a.addEventListener('keydown', function(e) {
            if ([13,42].includes(e.keyCode)) pauseVideos(a);
          });
        });

        const videoObserver = new IntersectionObserver(function(entries, observer) {
          pauseVideos();
        }, { threshold: 0, rootMargin: '0px' });

        document.querySelectorAll('video').forEach(function(video) {
          videoObserver.observe(video);
        });
      });
    </script>
  </body>
</html>
