---
layout: default_with_menu
---

{%- assign t = site.data[site.lang] -%}

<section id="" class="">
  <header class="container-fluid background-background">
    <div class="row row-cols-1 row-cols-md-2 justify-content-center align-items-center pt-5">
      <div class="col pl-lg-5 mb-3 mb-md-0">
        <h1>{{ t.website_headline_1 }}</h1>
        <p class="lead primary">{{ t.website_headline_2 }}</p>

        <div class="d-flex flex-column flex-sm-row flex-md-column flex-lg-row mt-5">
          <div class="mb-3 mb-xl-0">
            {% include google_play.html %}
          </div>

          <div class="ml-sm-2 ml-md-0 ml-lg-2">
            {% include app_store.html %}
          </div>
        </div>
      </div>

      <div class="col mb-md-n10 mt-md-6">
        <div class="d-grid grid-cols-5">
          <div class="grid-row-1 grid-col-1-to-4 mt-5">
            {% if t.website_headline_image_1 %}
              {% include_relative {{ t.website_headline_image_1 }} %}
            {% endif %}
          </div>

          <div class="grid-row-1 grid-col-3-to-6">
            {% if t.website_headline_image_2 %}
              {% include_relative {{ t.website_headline_image_2 }} %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="mt-n6 mt-md-n10">
    {% include_relative assets/images/yellow.svg %}
  </div>
</section>

<section id="" class="py-5 mt-5">
  <h2 class="text-center py-5 secondary">{{ t.how_it_works_headline }}</h2>

  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
      {% for card in (1..t.how_it_works_cards) %}
        {% comment %}
          XXX: This is weird because Weblate strings come in a single
          level.  Can we structure it and have sub-keys?
        {% endcomment %}
        {% assign card_key = 'how_it_works_card_' | append: card %}
        {% assign headline_key = card_key | append: '_headline' %}
        {% assign headline = t[headline_key] %}
        {% assign content_key = card_key | append: '_content' %}
        {% assign content = t[content_key] %}
        {% assign call_to_action_key = card_key | append: '_call_to_action' %}
        {% assign call_to_action = t[call_to_action_key] %}
        {% assign call_to_action_url_key = card_key | append: '_call_to_action_url' %}
        {% assign call_to_action_url = t[call_to_action_url_key] %}
        {% include how_it_works_card.html position=card headline=headline content=content call_to_action=call_to_action call_to_action_url=call_to_action_url %}
      {% endfor %}
    </div>
  </div>
</section>

<section id="" class="background-background">
  <div class="container primary min-h-50vh d-flex flex-row justify-content-center align-items-center pt-5">
    <div class="d-flex flex-column flex-md-row align-items-center align-items-md-start">
      <div class="flex-shrink-1 pr-md-5 mb-5 mb-md-0">

        {%- include img.html hidden=true src='assets/images/logo.png' width=76 -%}
      </div>

      <div class="content lead">
        {{ t.website_intro | markdownify }}
      </div>
    </div>
  </div>

  <picture>
    {% for size in site.images.sizes %}
      <source srcset="{{ 'assets/images/banner.png' | thumbnail: size }}" media="(max-width: {{ size }}px)" />
    {% endfor %}

    <img class="w-100" loading="lazy" src="{{ 'assets/images/banner.png' | thumbnail: 1140 }}" alt="" />
  </picture>
</section>

<section id="" class="d-flex flex-column justify-content-center align-items-center">
  <div class="container">
    <h2 class="text-center py-5 secondary">{{ t.what_you_can_do_headline }}</h2>

    <div class="row row-cols-1 row-cols-md-2 ">
      <div class="col">
        <div class="d-grid grid-cols-5">
          <div class="grid-row-1 grid-col-1-to-4 mt-5 z-index-1">
            {% if t.ask_for_help_image %}
              {% include_relative {{ t.ask_for_help_image }} %}
            {% endif %}
          </div>

          <div class="grid-row-1 grid-col-3-to-6">
            {% include_relative assets/images/circle.svg %}
          </div>
        </div>
      </div>

      <div class="col py-3 py-md-0 d-flex align-items-center">
        <div class="content">
          <h3 class="h2">{{ t.ask_for_help_headline }}</h3>

          {{ t.ask_for_help_content | markdownify }}
        </div>
      </div>
    </div>
  </div>
</section>

<section id="" class="background-background d-flex flex-column justify-content-center align-items-end overflow-hidden">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col d-flex flex-column justify-content-center pt-5 pt-md-0 pr-lg-5">
        <h3 class="h2">{{ t.share_location_headline }}</h3>

        <div class="content">
          {{ t.share_location_content | markdownify }}
        </div>
      </div>

      <div class="col pt-5">
        {% comment %}
          TODO: The d-grid repetition is a bug in how the grid-col-* classes are defined.
        {% endcomment %}
        <div class="d-grid d-md-grid d-lg-grid grid-cols-5">
          <div class="grid-row-1 grid-col-1-to-6 grid-col-lg-1-to-5">
            {% assign width = 100 %}
            {% for i in (1..t.share_location_notification_repeat) %}
              <div class="w-{{ width }} mx-auto">
                {% if t.share_location_notification %}
                  {% include_relative {{ t.share_location_notification }} %}
                {% endif %}
              </div>

              {% assign width = width | minus: 10 %}
            {% endfor %}
          </div>

          <div class="grid-row-1 grid-col-1-to-6 grid-col-md-3-to-6 pt-5">
            <div class="w-100">
              {% include_relative assets/images/people.svg %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="" class="d-flex flex-column justify-content-center align-items-center py-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2">
      <div class="col">
        <div class="d-grid grid-cols-5 align-items-center">
          <div class="grid-row-1 grid-col-1-to-5">
            {% include_relative assets/images/pie.svg %}
          </div>

          <div class="grid-row-1 grid-col-3-to-6">
            {% for notification in (1..t.stay_informed_notifications) %}
              {% assign notification_key = 'stay_informed_notification_' | append: notification %}
              {% assign image_key = notification_key | append: '_image' %}
              {% assign image = t[image_key] %}

              <div class="{% unless forloop.last %}mb-2{% endunless %}">
                {% if image %}
                  {% include_relative {{ image }} t=t %}
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="col d-flex align-items-center mt-3 mt-md-0">
        <div class="content">
          <h3 class="h2">{{ t.stay_informed_headline }}</h3>

          {{ t.stay_informed_content | markdownify }}
        </div>
      </div>
    </div>
  </div>
</section>

<section id="" class="d-flex flex-column justify-content-center align-items-center mb-3">
  <div class="container">
    <h2 class="text-center secondary pt-5">{{ t.developers_headline }}</h2>

    <div class="content primary lead text-center">
      {{ t.developers_content | markdown }}
    </div>

    <div class="row row-cols-1 row-cols-sm-3 w-md-50 mx-auto mt-3">
      <div class="col">
        {% include_relative assets/images/article19.svg %}
      </div>
      <div class="col">
        {% include_relative assets/images/guardian_project.svg %}
      </div>
      <div class="col">
        {% include_relative assets/images/okthanks.svg %}
      </div>
    </div>
  </div>
</section>

{% if t.developers_videos and t.developers_videos > 0 %}
  <section id="">
    <div class="container">
      <div class="max-w-100 d-flex flex-nowrap no-scrollbar overflow-x-scroll snap-mandatory-x">
        {% for developers_video in (1..t.developers_videos) %}
          {% assign developers_video_key = 'developer_video_' | append: developers_video %}
          {% assign video_key = developers_video_key | append: '_url' %}
          {% assign video = t[video_key] %}
          {% assign video_id = video | split: '/' | last | split: '=' | last %}
          {% assign image_key = developers_video_key | append: '_image' %}
          {% assign image = t[image_key] %}
          {% assign subtitles_key = developers_video_key | append: '_subtitles' %}
          {% assign subtitles = t[subtitles_key] %}

          <article id="{{ video_id }}" class="w-100 position-relative flex-fill flex-grow-1 flex-shrink-0 snap-start">
            <div class="embed-responsive embed-responsive-16by9 rounded">
              {% if video contains 'https://' %}
                {% include embed.html video=video %}
              {% else %}
                {% include video.html video=video image=image subtitles=subtitles label=t.locale_name %}
              {% endif %}
            </div>
          </article>
        {% endfor %}
      </div>

      {% if t.developers_videos > 1 %}
        <div class="mt-3 row row-cols-{{ t.developers_videos | times: 2 }} justify-content-center">
          {% for developers_video in (1..t.developers_videos) %}
            {% assign developers_video_key = 'developer_video_' | append: developers_video %}
            {% assign video_key = developers_video_key | append: '_url' %}
            {% assign video = t[video_key] %}
            {% assign video_id = video | split: '/' | last | split: '=' | last %}
            {% assign image_key = developers_video_key | append: '_image' %}
            {% assign image = t[image_key] %}
            {% assign title_key = developers_video_key | append: '_title' %}
            {% assign title = t[title_key] %}
            {% assign duration_key = developers_video_key | append: '_duration' %}
            {% assign duration = t[duration_key] %}

            <div class="col">
              <a
                href=".#{{ video_id }}"
                data-action="pauseVideos"
                data-turbo="false"
                data-target="focus"
                class="d-block focus-within hover-text-decoration-none{% if forloop.first %} focused{% endif %}">
                <div
                  class="embed-responsive embed-responsive-16by9 rounded border border-white focus-border-secondary border-lg">
                  {%- include img.html src=image class='embed-responsive-item' width=210 -%}
                </div>

                {% if title %}
                  <p class="focus-font-weight-bold mb-0 black">
                    <img aria-hidden="true" src="assets/images/video.png" loading="lazy" alt="video player"/>

                    {{ title }}
                  </p>

                  {% if duration %}
                    <p class="text-muted">{{ duration }}</p>
                  {% endif %}
                {% endif %}
              </a>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}

<section id="" class="min-h-70vh d-flex flex-column justify-content-center align-items-center">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
      {% for card in (1..t.features_cards) %}
        {% assign card_key = 'features_card_' | append: card %}
        {% assign headline_key = card_key | append: '_headline' %}
        {% assign headline = t[headline_key] %}
        {% assign content_key = card_key | append: '_content' %}
        {% assign content = t[content_key] %}
        {% include feature_card.html position=card headline=headline content=content %}
      {% endfor %}
    </div>
  </div>

  <div class="container primary background-gray-light rounded py-3 px-5 my-5">
    <div class="content">
      {{ t.disclaimer_content | markdownify }}
    </div>
  </div>
</section>

<section id="" class="background-background d-flex flex-column align-items-center justify-content-center py-5">
  <div class="container text-center">
    <h2>{{ t.call_to_action_headline }}</h2>

    {% include big_button.html url=site.community_resources.url text=t.call_to_action_content %}
  </div>
</section>
